body {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

h1 {
    text-align:center;
}

.es-grid {
    display:flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    width: 770px;
    justify-content: center;
    align-content: center;
}

.es-grid-item {
    width: 10px;
    height: 10px;
    border: 1px solid #ccc;
}