body {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

h1 {
    text-align:center;
}

.es-grid {
    display:flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
}

.es-grid-item {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border: 1px solid #ccc;
}