body {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

h1 {
    text-align:center;
}

.grid-size-button {
    margin: 20px 0;
}

.grid-size-button button {
    background-color: navy;
    color: white;
    border-radius: 3px;
    border: 1px white solid;
    font-size: 16px;
    padding: 7px 10px;
}
#es-grid-container {
    border: 1px solid #000;
    width: 500px;
    height: 500px;
    display:flex;
    flex-wrap: wrap;
}

.es-grid-item {

    border: 1px solid #ccc;
    justify-content: center;
    align-content: center;
    width: 10px;
    height: 10px;
    border: 1px solid #ccc;
}

.es-grid-item:hover {
    background-color: #666;
}